//color palette

$color-1:#F8F8F8;
$color-2: #8291A3;
$brend: #664EF9;
$secondBrend: #FFD54F;
$light: #FFFFFF;
$black: #1E2123;


$fontPrimary: 'Inter',
sans-serif;
$fontSecondary: 'Roboto',
sans-serif;