@import 'styles/variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  font: $fontPrimary;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

main {
  flex: 1;
  min-height: 100vh;
}